<!doctype html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta charset="utf-8" />
  <title>
    <%= about %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><span><%= about %></span></h1>
	<p style="color:green;">About D&D</p>

  <img src="https://i.imgflip.com/1smpla.jpg" alt="developers" style="width:500px;height:400px;">

  </div>
  </div>
</body>

</html>
