<!doctype html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta charset="utf-8" />
  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
    <li><a href="/forms">Forms</a></li>

	</div>
  <h1><span><%= title %></span></h1>

<p>We are the best web developers</p>
<p>Hire us and pay us lots of money</p>

<h2>THANK YOU!</h2>
  </div>
  </div>
</body>

</html>
