<!doctype html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta charset="utf-8" />
  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><span><%= title %></span></h1>
	<p style="color:blue;">Hello world</p>
  </div>
  </div>
</body>

</html>
